.panel.left {
    max-width: none;
}

#certifcode, 
#questionType {
    color: var(--grey-disabled);
}

#certifcode:focus, 
#questionType:focus {
    border-color: var(--grey-border);
}

.admin-button {
    color: var(--dark-blue-panel);
    border-bottom: solid 2px var(--dark-blue-panel);
}

.admin-button:hover {
    color: var(--grey-admin-btn);
    border-bottom: solid 2px var(--grey-admin-btn);
}

 #deleteBtn:hover {
    color: var(--red-danger-btn);
    border-bottom: solid 2px var(--red-danger-btn);
 }

#dynamicButtons {
    margin-top: 12px;
    margin-bottom: 12px;
}

.cmd-btn {
    color: var(--dark-blue-panel);
    border-bottom: solid 2px var(--dark-blue-panel);
    
}

.cmd-btn:hover {
    color: var(--grey-admin-btn);
    border-bottom: solid 2px var(--grey-admin-btn);
}

.back-button-container {
    margin-bottom: 1.5rem;
}

.back-button {
    font-size: 0.8rem;
    color: var(--dark-blue-panel);
    border-radius: 12px;
    width: fit-content;
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-bottom: solid 2px var(--dark-blue-panel);
}

.back-button:hover {
    color: var(--grey-admin-btn);
    border-bottom: solid 2px var(--grey-admin-btn);
}


