{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}">
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="both-panel">
        <div class="panel left">
            <div class="top-part-left"> 
                <div class="top-row-part-left"></div>
                <div class="panel-top-left">
                    <span class="text-top-left">DISCOVER NEW HORIZONS</span>
                </div>
            </div>
            <div class="main-grid-certif">
                <div class="grid-item-certif" id="uploads_grid-item-certif">
                    <form id="uploadForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="certifCode">Certification Identifier:</label>
                            <select id="certifCode" name="certifCode" required>
                                <option value="" disabled selected>Select Certification</option>
                            </select>
                        </div>  
                    </form>
                </div>
            </div>
        </div>

        <!-- Right Panel: Grid of blocks -->
        <div class="panel right">
            <div class="grid">
                {% if not current_user %}
                    {{ auth_promo() }}
                {% endif %}
                
            </div>
        </div>
    </div>
</div>
{% endblock %}